In [1]:
import os
import glob
import pandas as pd

In [2]:
#Reads in the desired year's csv, only choosing coloumns which show location, time, the peak hours and the total volume per day
year = '2020'
filename = year+"_final.csv"
col_list = ['NB_SCATS_SITE','QT_INTERVAL_COUNT','V32','V33','V34','V35','V60','V61','V62','V63','V64','V65','V66','V67','V68','V69','V70','V71','V72','V73','QT_VOLUME_24HOUR']
os.chdir('Sampled_Data_Per_Year/')
df = pd.read_csv(filename,usecols=col_list)
os.chdir('..')
df

,NB_SCATS_SITE,QT_INTERVAL_COUNT,V32,V33,V34,V35,V60,V61,V62,V63,...,V65,V66,V67,V68,V69,V70,V71,V72,V73,QT_VOLUME_24HOUR
0,105,2020-01-05 00:00:00,21.0,35.0,32.0,33.0,99.0,101.0,107.0,86.0,...,100.0,90.0,87.0,90.0,99.0,87.0,74.0,72.0,61.0,4082
1,105,2020-01-05 00:00:00,35.0,36.0,45.0,43.0,109.0,126.0,131.0,138.0,...,133.0,114.0,112.0,129.0,143.0,108.0,114.0,93.0,95.0,5853
2,105,2020-01-05 00:00:00,35.0,32.0,61.0,56.0,146.0,146.0,149.0,152.0,...,160.0,136.0,149.0,162.0,164.0,156.0,146.0,124.0,115.0,6700
3,105,2020-01-05 00:00:00,6.0,5.0,0.0,8.0,8.0,13.0,10.0,11.0,...,12.0,13.0,11.0,6.0,12.0,14.0,8.0,10.0,5.0,545
4,105,2020-01-05 00:00:00,30.0,35.0,42.0,35.0,155.0,151.0,140.0,145.0,...,137.0,131.0,138.0,144.0,126.0,94.0,113.0,88.0,91.0,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9024722,16311,2020-12-27 00:00:00.0000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0
9024723,16311,2020-12-27 00:00:00.0000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0
9024724,16311,2020-12-27 00:00:00.0000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0
9024725,16311,2020-12-27 00:00:00.0000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0
9024726,16311,2020-12-27 00:00:00.0000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0

In [3]:
#Changes the date into just the year and adds up the coloumns from V32 to V35 for the morning peak hour, and the same for evening
df['QT_INTERVAL_COUNT'] = pd.to_datetime(df['QT_INTERVAL_COUNT'])  
df['QT_INTERVAL_COUNT']=df['QT_INTERVAL_COUNT'].dt.year
df['from8to9'] = df.iloc[:,2:7].sum(axis=1)
df['from3to6_30'] = df.iloc[:,7:19].sum(axis=1)

In [4]:
df

,NB_SCATS_SITE,QT_INTERVAL_COUNT,V32,V33,V34,V35,V60,V61,V62,V63,...,V67,V68,V69,V70,V71,V72,V73,QT_VOLUME_24HOUR,from8to9,from3to6_30
0,105,2020,21.0,35.0,32.0,33.0,99.0,101.0,107.0,86.0,...,87.0,90.0,99.0,87.0,74.0,72.0,61.0,4082,220.0,1090.0
1,105,2020,35.0,36.0,45.0,43.0,109.0,126.0,131.0,138.0,...,112.0,129.0,143.0,108.0,114.0,93.0,95.0,5853,268.0,1468.0
2,105,2020,35.0,32.0,61.0,56.0,146.0,146.0,149.0,152.0,...,149.0,162.0,164.0,156.0,146.0,124.0,115.0,6700,330.0,1794.0
3,105,2020,6.0,5.0,0.0,8.0,8.0,13.0,10.0,11.0,...,11.0,6.0,12.0,14.0,8.0,10.0,5.0,545,27.0,129.0
4,105,2020,30.0,35.0,42.0,35.0,155.0,151.0,140.0,145.0,...,138.0,144.0,126.0,94.0,113.0,88.0,91.0,6507,297.0,1523.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9024722,16311,2020,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,-5.0,-12.0
9024723,16311,2020,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,-5.0,-12.0
9024724,16311,2020,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,-5.0,-12.0
9024725,16311,2020,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,-5.0,-12.0
9024726,16311,2020,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0,-5.0,-12.0

In [5]:
# adds up all the rows which share the same location for: total 24 hour volume, 8 to 9 am peak hour volume and 3 to 6:30 pm 
df2 = df.groupby(['NB_SCATS_SITE','QT_INTERVAL_COUNT'])['QT_VOLUME_24HOUR'].agg(sum).reset_index()
df3  = df.groupby(['NB_SCATS_SITE'])['from8to9'].agg([('from8to9',lambda x: x[x>0].sum())]).reset_index()
df4 = df.groupby(['NB_SCATS_SITE'])['from3to6_30'].agg([('from3to6_30',lambda x: x[x>0].sum())]).reset_index()
df5 = pd.DataFrame({'NB_SCATS_SITE':df4['NB_SCATS_SITE'],'QT_INTERVAL_COUNT':df2['QT_INTERVAL_COUNT'],'from8to9':df3['from8to9'],'from3to6_30':df4['from3to6_30'],'QT_VOLUME_24HOUR':df2['QT_VOLUME_24HOUR']})
df5

,NB_SCATS_SITE,QT_INTERVAL_COUNT,from8to9,from3to6_30,QT_VOLUME_24HOUR
0,100,2020,140162.0,486091.0,1804565
1,101,2020,143993.0,428192.0,1772342
2,102,2020,184034.0,538297.0,2261304
3,103,2020,90335.0,265275.0,1137626
4,104,2020,133948.0,408696.0,1775202
...,...,...,...,...,...
4294,15275,2020,0.0,0.0,0
4295,15655,2020,0.0,0.0,0
4296,15935,2020,0.0,0.0,0
4297,16302,2020,0.0,0.0,0
4298,16311,2020,0.0,0.0,0

In [6]:
# Averages the total volumes for average per day over the 90 sampled days and calculates the combined volume during peak hours
df5['from8to9'] = df5['from8to9']/90
df5['QT_VOLUME_24HOUR'] = df5['QT_VOLUME_24HOUR']/90
df5['from3to6_30'] = df5['from3to6_30']/90
df5['combined_peak'] = df5['from8to9']+df5['from3to6_30']
filtered_df = df5
filtered_df

,NB_SCATS_SITE,QT_INTERVAL_COUNT,from8to9,from3to6_30,QT_VOLUME_24HOUR,combined_peak
0,100,2020,1557.355556,5401.011111,20050.722222,6958.366667
1,101,2020,1599.922222,4757.688889,19692.688889,6357.611111
2,102,2020,2044.822222,5981.077778,25125.600000,8025.900000
3,103,2020,1003.722222,2947.500000,12640.288889,3951.222222
4,104,2020,1488.311111,4541.066667,19724.466667,6029.377778
...,...,...,...,...,...,...
4294,15275,2020,0.000000,0.000000,0.000000,0.000000
4295,15655,2020,0.000000,0.000000,0.000000,0.000000
4296,15935,2020,0.000000,0.000000,0.000000,0.000000
4297,16302,2020,0.000000,0.000000,0.000000,0.000000
4298,16311,2020,0.000000,0.000000,0.000000,0.000000

In [7]:
final_name = year+'_filtered.csv'
os.chdir("filtered_data/")
filtered_df.to_csv(final_name, index=False)
os.chdir("..")